@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Navbar */
.navbar {
    background: #131313;
    padding: 0.6rem 4rem;
    z-index: 1000;
}

.navbar .navbar-brand, body > footer > div.container.py-4 > section:nth-child(3) > div > div:nth-child(1) > h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar .navbar-brand i, body > footer > div.container.py-4 > section:nth-child(3) > div > div:nth-child(1) > h5 i {
    font-size: 1.5rem;
    color: #00bf85;
}

#navbarSupportedContent > ul > li:nth-child(n) > a.active {
    color: #00bf85;
    font-size: 1.1rem;
    padding: 0 0.8rem;
    transition: all 0.15s ease-in-out;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
    transition: all 0.15s ease-in-out;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
    color: #00bf85;
}

#navbarSupportedContent > button {
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    transition: transform 0.3s ease-in;
}

#navbarSupportedContent > button:hover {
    transform: translateY(-2.4px);
}

/* Mid */
.mid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mid video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hero */
.mid .hero {
    position: relative;
}

.mid .hero p {
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;
}

.mid .hero a {
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    backdrop-filter: blur(30px);
    transition: all 0.2s ease-in-out;
}

.mid .hero a:hover {
    background: #fff;
    box-shadow: rgba(255, 255, 255, 0.932);
}


/* About */
.about {
    background: #000;
}

.about .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h6 {
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.about .text h2 {
    color: #f7f5f4;
    font-weight: 700;
    font-size: 2.7rem;
}

.about .text p {
    color: #f7f5f4;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.about .text a {
    background-color: rgba(255,255,255,0.1);
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.about .text a:hover {
    background-color: #00bf85;
    color: rgba(255,255,255, 1.2);
    box-shadow: 0 5px 15px rgba(0, 191, 133, .4);
}


/* Discover */
.discover .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.discover .text h6 {
    color: #008f7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.discover .text h2 {
    color: #111;
    font-weight: 700;
    font-size: 2.7rem;
}

.discover .text p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.discover .text a {
    background-color: #000;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.discover .text a:hover {
    background-color: #00bf85;
    color: rgba(255,255,255, 1.2);
    box-shadow: 0 5px 15px rgba(0, 191, 133, .4);
}


/* Services */
.service {
    background-color: #000;
    
}

.service .one {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 191, 133, .4);
}


/* Sign up */
.sign .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.sign .text h6 {
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.sign .text h2 {
    color: #111;
    font-weight: 700;
    font-size: 2.7rem;
}

.sign .text p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.sign .text a {
    background-color: #000;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sign .text a:hover {
    background-color: #00bf85;
    color: rgba(255,255,255, 1.2);
    box-shadow: 0 5px 15px rgba(0, 191, 133, .4);
}

/* Footer */
body > footer {
    background-color: #111!important;
}

.mb-4 svg {
    padding: 5px;
}

@media screen and (max-width: 988px) {
    .navbar {
        padding: 1rem;
    }

    #navbarSupportedContent > ul {
        padding-left: 0.8rem;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 0.8rem 0;
    }

    .mid .hero h2 {
        font-size: 2.5rem;
    }

    .mid .hero p {
        font-size: 1rem;
    }
    
    .mid .hero a {
        font-size: 0.9rem;
    }
}